body {

    background-color: hsl(257, 40%, 49%);
}
.logo-svg {
    margin: auto;
    padding: 3% 3%;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 5%;
}
.container-2 {
    display: flex;
}
.pagina-conversa-svg {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}
.textos {
    margin: 5% 0 5% 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}
.texto-titulo {
    font-family: 'Poppins';
    font-size: 260%;
    color: white;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: revert;
}
.resumo {
    font-family: 'Open Sans', sans-serif;
    color: white;
    opacity: 0.8;
    line-height: 1.5;
    font-size: 105%;
    margin: 0 0 5% 0;
}
.botao-registrar {
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    background-color: white;
    width: 40%;
    height: 12%;
    color: blueviolet;
    font-weight: bold;
    font-size: large;
    border: none;
}
.botao-registrar:hover {
    background-color: hsl(300, 69%, 71%);
}
.redes-pai {
    margin: 0 10% 0;
    display: flex;
    filter: brightness(100);
    flex-wrap: wrap;
    justify-content: flex-end;
}
.redes-filho {
    filter: brightness(100);
}
.facebook {
    filter: invert(1);
}

 .facebook, .instargram, .twitter:hover {
 filter: var( color  hsl(300, 69%, 71%)) ;
}